body {
    font-family: Arial;
    text-align: center;
    background-color: #f5f5f5;
}

button {
    margin: 5px;
    padding: 10px;
    cursor: pointer;
}

input {
    padding: 10px;
}